<div class=row>
    <div class="col-3">
<div class="card">
        <div class="bbb_deals">
                
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><img src="assets/men1.png" alt=""></div>
                        <div class="bbb_deals_content">
                           
                            <div class="available">
                                <div class="available_line d-flex flex-row justify-content-start">
                                    <div class="available_title">Available: <span>6</span></div>
                                    <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                </div>
                                <div class="available_bar"><span style="width:17%"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

</div>

<div class="col-3">
        <div class="card">
                <div class="bbb_deals">
                       
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image"><img src="assets/men3.jpg" alt=""></div>
                                <div class="bbb_deals_content">
                                   
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div class="available_title">Available: <span>6</span></div>
                                            <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                        </div>
                                        <div class="available_bar"><span style="width:17%"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        
        </div>

        <div class="col-3">
                <div class="card">
                        <div class="bbb_deals">
                               
                                <div class="bbb_deals_slider_container">
                                    <div class=" bbb_deals_item">
                                        <div class="bbb_deals_image"><img src="assets/men3.jpg" alt=""></div>
                                        <div class="bbb_deals_content">
                                            
                                            <div class="available">
                                                <div class="available_line d-flex flex-row justify-content-start">
                                                    <div class="available_title">Available: <span>6</span></div>
                                                    <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                                </div>
                                                <div class="available_bar"><span style="width:17%"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                
               
                </div>
                <div class="col-3">
                        <div class="card">
                                <div class="bbb_deals">
                                       
                                        <div class="bbb_deals_slider_container">
                                            <div class=" bbb_deals_item">
                                                <div class="bbb_deals_image"><img src="assets/men1.png" alt=""></div>
                                                <div class="bbb_deals_content">
                                                   
                                                    <div class="available">
                                                        <div class="available_line d-flex flex-row justify-content-start">
                                                            <div class="available_title">Available: <span>6</span></div>
                                                            <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                                        </div>
                                                        <div class="available_bar"><span style="width:17%"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        
                       
                        </div>
                        


</div>
