<div class=row >
        <div class="col-3" *ngFor="let l of ldata">
    <a [routerLink]="['/ldetails', l.name]"><div class="card">
            <div class="bbb_deals">
                    <div class="ribbon ribbon-top-right"><span>60% OFF</span></div>
                    <div class="bbb_deals_title">Today's Best Offer</div>
                    <div class="bbb_deals_slider_container">
                        <div class=" bbb_deals_item">
                            <div class="bbb_deals_image"><img src={{l.img}} alt=""></div>
                            <div class="bbb_deals_content">
                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                    <div class="bbb_deals_item_category"><a href="#">Laptops</a></div>
                                    <div class="bbb_deals_item_price_a ml-auto">₹30,000</div>
                                </div>
                                <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                    <div class="bbb_deals_item_name">{{l.name}}</div>
                                    <div class="bbb_deals_item_price ml-auto">&#8377;{{l.price}}</div>
                                </div>
                                <div class="available">
                                    <div class="available_line d-flex flex-row justify-content-start">
                                        <div class="available_title">Available: <span>6</span></div>
                                        <div class="sold_title ml-auto">Already sold: <span>28</span></div>
                                    </div>
                                    <div class="available_bar"><span style="width:17%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div></a>
    
   
    </div>
                          
    

    </div>